*{
margin:0;
padding: 0;
}
body{
   background-color:hsl(233, 47%, 7%);
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height:100vh ;
}

.card{
    background-color:hsl(244, 38%, 16%);
    color:hsla(0, 0%, 100%, 0.75);
    display: flex;
    border-radius: 10px;

}
.left .cardss{
  
    background-color: hsla(277, 99%, 34%, 0.7);
    height: 370px;
    border-radius: 5px;
    opacity: 0.7;
    width: 100%;

}

.left{
    background: url('images/image-header-desktop.jpg');
    width: 50%;
    
    background-size:cover ;
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px ;


}
.right{
    width: 50%;
    display: flex;
flex-direction: column;
row-gap: 30px;
margin:30px -20px 0px 40px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.title,h3{
    font-family: 'Lexend Deca', sans-serif;
    

}

.title{
    font-size: 30px;
    width: 80%;
}
span{
    color:hsl(277, 64%, 61%);
}
.desc{
    font-size: 14px;
    width: 80%;
    color:hsla(0, 0%, 100%, 0.75);
    line-height: 1.5;
    font-weight: 10;
    font-family: 'Inter', sans-serif;
}
.project{
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
    padding-top: 40px;
   

}
.project h3{
    padding-right: 80px;
   padding-top: 10px;
}
.project P{
    font-size: 9.5PX;
    padding-top: 5PX;
    color: hsl(0, 0%, 70%);
    letter-spacing: 1px;
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 500;
    

    
}